snippet html
<html>
	$0
</html>
endsnippet

snippet head
<head>
	$0
</head>
endsnippet

snippet body
<body>
	$0
</body>
endsnippet

snippet script
<script src="$0"></script>
endsnippet

snippet link
<link rel="stylesheet" type="text/css" href="$0">
endsnippet
