snippet main
public static void main(String[] args) {
	$1
}
endsnippet

snippet print
System.out.println($1);$2
endsnippet

snippet cl
class $1 {
	$2
}
endsnippet

snippet fun
static $1 $2($3) {
	$4
}
endsnippet
