snippet fun
function $1($2) {
	$3
}$4
endsnippet

snippet forin
for ($1 in $2) {
	$3
}$4
endsnippet

snippet for
for ($1; $2; $3) {
	$4
}$5
endsnippet

snippet while
while ($1) {
	$2
}$3
endsnippet

snippet log
console.log($1);$2
endsnippet

snippet pjson
{
	"name": "app_name",
	"version": "0.0.1",
	"dependencies": {
		$0
	}
}
endsnippet
