snippet MBF
$\mathbf{$1}$
endsnippet

snippet BF
\mathbf{$1}
endsnippet

snippet bf
\textbf{$1}
endsnippet

snippet tt
\texttt{$1}
endsnippet

snippet it
\textit{$1}
endsnippet

snippet code
\begin{verbatim}
$1
\end{verbatim}
endsnippet
