snippet dtyped
/// <reference path="/home/pandu/c/dtyped/$1" />$2
endsnippet

snippet dtypednode
/// <reference path="/home/pandu/c/dtyped/node/node.d.ts" />$1
endsnippet

snippet fun
function $1($2)$3 {
	$4
}$5
endsnippet

snippet forin
for ($1 in $2) {
	$3
}$4
endsnippet

snippet for
for ($1; $2; $3) {
	$4
}$5
endsnippet

snippet while
while ($1) {
	$2
}$3
endsnippet

snippet log
console.log($1);$2
endsnippet

snippet interf
interface $1 {
	$2
}$3
endsnippet

